<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>主站PC新版公共顶部</title>
	<base target="_blank" />
	<link rel="stylesheet" type="text/css" href="../dist/styles/iautos-pc.css" />
	<script type="text/javascript" src="../js/jquery-1.12.1.min.js"></script>
	<script type="text/javascript" src="../dist/scripts/header-9598c51a13.js"></script>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r]||function() {
				(i[r].q=i[r].q||[]).push(arguments)
			},i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-15007416-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<!-- common header start -->
	<div id="commonHeader" class="common-header">
		<div class="top-nav-wrapper">
			<div class="top-nav clear">
				<div class="personal-publish"><a href="/sell/fast_sendcar/">个人快速发车</a></div>
				<div id="merchantRegister" class="merchant-register">
					<h6 class="item"><span>我是商户</span></h6>
					<ul id="merchantUnregisterList" class="list" style="display: none">
						<li class="link">
							<a href="javascript:void(0)">登录</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">免费注册</a>
						</li>
					</ul>
					<ul id="merchantRegisterList" class="list" style="display: none">
						<li class="link">
							<a href="javascript:void(0)">发布车源</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">车源管理</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">车源推荐</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">店铺资料</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">退出</a>
						</li>
					</ul>
				</div>
				<div id="personalRegister" class="personal-register">
					<h6 class="item"><span>个人登录</span></h6>
					<ul id="personalUnregisterList" class="list" style="display: none">
						<li class="link">
							<a href="javascript:void(0)">登录</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">免费注册</a>
						</li>
					</ul>
					<ul id="personalRegisterList" class="list" style="display: none">
						<li class="link">
							<a href="javascript:void(0)">发布车源</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">我的车源</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">我的收藏</a>
						</li>
						<li class="link">
							<a href="javascript:void(0)">退出</a>
						</li>
					</ul>
				</div>
				<div id="clientDownload" class="client-download">
					<h6 class="item"><span>客户端下载</span></h6>
					<ul class="box clear" style="display: none">
						<li>
							<div class="image"><img src="/static2013/images/iautos-app-download.png" width="100%" /></div>
							<h6 class="name">扫码下载</h6>
							<p class="text">第一车网APP</p>
						</li>
						<li style="margin-left: 1px">
							<div class="image"><img src="/static2013/images/haoche.jpg" width="100%" /></div>
							<h6 class="name">了解更多</h6>
							<p class="text">关注微信公众号</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- common header end -->
</body>
</html>