<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>主站PC网店买车页</title>
	<base target="_blank" />
	<link rel="stylesheet" type="text/css" href="../dist/styles/iautos-pc.css" />
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/header-9598c51a13.js"></script>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r]||function() {
				(i[r].q=i[r].q||[]).push(arguments)
			},i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-15007416-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<!-- header start -->
	<div class="header">
		<div class="header-links-wrapper">
			<div class="header-links">
				<span id="headDownloadBtn" class="item app"><i class="download">下载APP</i></span>
				<span id="headLoginBtn" class="item box">登录</span>
				<a class="item box" href=""><span class="regist">商户注册</span></a>
				<a class="item publish" href="">免费发布二手车信息</a>
				<ul id="headDownloadBox" class="app-download-box clear" style="display: none">
					<li>
						<div class="image"><img src="" width="100%" /></div>
						<h6 class="title">第一车网</h6>
						<p class="desc">网尽天下二手车</p>
					</li>
					<li>
						<div class="image"><img src="" width="100%" /></div>
						<h6 class="title">99好车</h6>
						<p class="desc">诚信二手车商城</p>
					</li>
				</ul>
				<ul id="headLoginBox" class="login-box" style="display: none">
					<li><a href="">商户登录</a></li>
					<li><a href="">个人登录</a></li>
				</ul>
			</div>
		</div>
		<div class="header-os-main">
			<div class="left">
				<div class="image"><img src="" width="100%" /></div>
				<h1 class="title">宁波联盟二手车</h1>
				<div class="level" title="五星神店">
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
				</div>
			</div>
			<div class="right">
				<div class="phone"><span class="number">400-111-5555</span></div>
				<div class="address">
					<a class="map-link" href=""><span>[查看地图]</span></a>
					<span class="info">宁波市江北区东明楼街道沧海路806号</span>
				</div>
			</div>
		</div>
		<div class="header-os-tags-wrapper">
			<ul class="header-os-tags clear">
				<li class="active"><a href="">首页</a></li>
				<li><a href="">买车</a></li>
				<li><a href="">促销活动</a></li>
				<li><a href="">关于我们</a></li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- bread crumbs start -->
	<div class="bread-crumbs">
		<a href="javascript:void(0)" class="item">第一车网</a>
		<i class="split">></i>
		<a href="javascript:void(0)" class="item">宁波二手车</a>
		<i class="split">></i>
		<a href="javascript:void(0)" class="item">宁波联盟二手车</a>
		<i class="split">></i>
		<span class="item">买车</span>
	</div>
	<!-- bread crumbs end -->

	<!-- online store home page start -->
	<div class="online-store">
		<div class="filter-box">
			<div class="results">
				<span class="title">您已选择：</span>
				<a class="clean-up" href="javascript:void(0)"><span class="text">宝马</span></a>
				<a class="clean-up" href="javascript:void(0)"><span class="text">宝马7系</span></a>
				<a class="clean-up-all" href="javascript:void(0)">清除全部</a>
			</div>
			<div class="lists default">
				<span class="title">品牌：</span>
				<a class="default-item active" href="javascript:void(0)">不限</a>
				<a class="default-item" href="javascript:void(0)">宝马</a>
				<div class="more-item-wrapper" style="z-index: 4">
					<span class="more-item" href="javascript:void(0)">更多</span>
					<div class="more-item-lists brands" style="display: none">
						<ul class="letter-lists clear">
							<li class="letter">A</li>
							<li class="letter">B</li>
							<li class="letter">C</li>
						</ul>
						<ul class="brand-lists clear">
							<li class="brand baoma"><a href="javascript:void(0)" class="name">宝马</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="lists default">
				<span class="title">车系：</span>
				<a class="default-item" href="javascript:void(0)">不限</a>
				<a class="default-item" href="javascript:void(0)">宝马7系</a>
				<div class="more-item-wrapper">
					<span class="more-item unfold" href="javascript:void(0)">更多</span>
					<ul class="more-item-lists serieses" style="display: block">
						<li class="series clear">
							<h6 class="name">一汽大众</h6>
							<div class="default-item-wrapper clear">
								<a class="default-item" href="javascript:void(0)">CC</a>
								<a class="default-item" href="javascript:void(0)">宝来</a>
								<a class="default-item" href="javascript:void(0)">开迪</a>
								<a class="default-item" href="javascript:void(0)">捷达</a>
								<a class="default-item" href="javascript:void(0)">迈腾</a>
								<a class="default-item" href="javascript:void(0)">速腾</a>
								<a class="default-item" href="javascript:void(0)">高尔夫</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="lists default">
				<span class="title">价格：</span>
				<a class="default-item" href="javascript:void(0)">不限</a>
				<a class="default-item" href="javascript:void(0)">5万以下</a>
				<a class="default-item" href="javascript:void(0)">5-8万</a>
				<a class="default-item" href="javascript:void(0)">8-10万</a>
				<a class="default-item" href="javascript:void(0)">10-15万</a>
				<a class="default-item" href="javascript:void(0)">15-20万</a>
				<a class="default-item" href="javascript:void(0)">20-30万</a>
				<a class="default-item" href="javascript:void(0)">30-50万</a>
				<a class="default-item" href="javascript:void(0)">50万以上</a>
				<div class="price clear">
					<div class="text"><input type="text" maxlength="4" /><span class="unit">万</span></div>
					<div class="text"><input type="text" maxlength="4" /><span class="unit">万</span></div>
					<div class="submit able"><input type="button" value="确定" /></div>
				</div>
			</div>
			<div class="lists more clear">
				<span class="title">更多：</span>
				<div class="select-wrapper" tabindex="-1">
					<span class="select">车龄</span>
					<ul class="selest-lists" style="display: none">
						<li><a href="">不限</a></li>
						<li><a href="">1年以内</a></li>
						<li><a href="">1-3年</a></li>
						<li><a href="">3-5年</a></li>
						<li><a href="">5-8年</a></li>
						<li><a href="">8-10年</a></li>
						<li><a href="">10年以上</a></li>
					</ul>
				</div>
				<div class="select-wrapper selected" tabindex="-1">
					<span class="select">全尺寸SUV<!-- 车型 --></span>
					<ul class="selest-lists" style="display: none">
						<li><a href="">不限</a></li>
						<li><a href="">微型车</a></li>
						<li><a href="">小型车</a></li>
						<li><a href="">紧凑型车</a></li>
						<li><a href="">中型车</a></li>
						<li><a href="">中大型车</a></li>
						<li><a href="">豪华车</a></li>
						<li><a href="">MPV</a></li>
						<li><a href="">跑车</a></li>
						<li><a href="">微面</a></li>
						<li><a href="">SUV</a></li>
						<li><a href="">小型SUV</a></li>
						<li><a href="">紧凑型SUV</a></li>
						<li><a href="">中型SUV</a></li>
						<li><a href="">中大型SUV</a></li>
						<li><a href="">全尺寸SUV</a></li>
					</ul>
				</div>
				<div class="select-wrapper" tabindex="-1">
					<span class="select unfold">排量</span>
					<ul class="selest-lists" style="display: block">
						<li><a href="">不限</a></li>
						<li><a href="">1.0L以下</a></li>
						<li><a href="">1.1-1.4L</a></li>
						<li><a href="">1.5-1.8L</a></li>
						<li><a href="">1.9-2.3L</a></li>
						<li><a href="">2.4-2.8L</a></li>
						<li><a href="">2.9-3.5L</a></li>
						<li><a href="">3.6-4.0L</a></li>
						<li><a href="">4.0L以上</a></li>
					</ul>
				</div>
				<div class="select-wrapper selected" tabindex="-1">
					<span class="select unfold">10万公里以上<!-- 里程 --></span>
					<ul class="selest-lists" style="display: block">
						<li><a href="">不限</a></li>
						<li><a href="">1万公里以内</a></li>
						<li><a href="">1-3万公里</a></li>
						<li><a href="">3-6万公里</a></li>
						<li><a href="">6-10万公里</a></li>
						<li><a href="">10万公里以上</a></li>
					</ul>
				</div>
				<div class="select-wrapper" tabindex="-1">
					<span class="select">变速器</span>
					<ul class="selest-lists" style="display: none">
						<li><a href="">不限</a></li>
						<li><a href="">手动</a></li>
						<li><a href="">自动</a></li>
						<li><a href="">手自一体</a></li>
					</ul>
				</div>
				<div class="select-wrapper" tabindex="-1">
					<span class="select">排放</span>
					<ul class="selest-lists" style="display: none">
						<li><a href="">不限</a></li>
						<li><a href="">国二及以下</a></li>
						<li><a href="">国三</a></li>
						<li><a href="">国四</a></li>
						<li><a href="">国五</a></li>
						<li><a href="">其它</a></li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="sort-lists clear">
			<li class="active"><a href="">默认排序</a></li>
			<li><a class="ascending" href=""><span class="select">按价格</span></a></li>
			<li><a class="descending" href=""><span class="select">按车龄</span></a></li>
			<li class="active"><a href=""><span class="select ascending">按里程</span></a></li>
			<li class="active"><a href=""><span class="select descending">按上架时间</span></a></li>
		</ul>
		<ul class="os-bc-car-list os-car-lists clear">
			<li>
				<a href="javascript:void(0)">
					<div class="image"><img src="../dist/images/car-3d18883c36.png" width="100%" /></div>
					<h6 class="title">大众POLO劲情</h6>
					<div class="series">
						<span>1.6L</span><span>手自一体</span><span>风尚版</span>
					</div>
					<div class="info clear">
						<span class="date"><i>2010</i>年</span>
						<span class="mile"><i>3.9</i>万公里</span>
						<strong class="price"><i class="symbol">￥</i>99.99<i class="unit">万</i></strong>
					</div>
					<div class="tags">
						<span class="quality-guarantee">质保<i>A</i></span>
						<span class="lowest-price">超低价</span>
						<span class="upkeep-log">已查保养记录</span>
					</div>
				</a>
			</li>
			<li class="phone-clue">
				<h6 class="name">没有找到您心仪的车辆？</h6>
				<p class="tips">让专家帮您！</p>
				<div class="input text"><input type="text" maxlength="11" placeholder="请输入您的手机号" /></div>
				<div class="input submit"><input type="button" value="确定" /></div>
				<div class="os-hint-box os-success" style="display: none">
					<span class="text">提交成功！我们将尽快联系您！</span>
				</div>
				<div class="os-hint-box os-fail" style="display: none">
					<span class="text">请输入正确的手机号码</span>
				</div>
			</li>
			<li class="sold-out">
				<a href="javascript:void(0)">
					<div class="image"><img src="../dist/images/car-3d18883c36.png" width="100%" /></div>
					<h6 class="title">大众POLO劲情</h6>
					<div class="series">
						<span>1.6L</span><span>手自一体</span><span>风尚版</span>
					</div>
					<div class="info clear">
						<span class="date"><i>2010</i>年</span>
						<span class="mile"><i>3.9</i>万公里</span>
						<strong class="price"><i class="symbol">￥</i>99.99<i class="unit">万</i></strong>
					</div>
					<div class="tags">
						<span class="quality-guarantee">质保<i>A</i></span>
						<span class="lowest-price">超低价</span>
						<span class="upkeep-log">已查保养记录</span>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- online store home page end -->

	<!-- pages box start -->
	<div class="pages-box">
		<a onclick="return false" class="change-page" href="javascript:void(0)">上一页</a>
		<a class="page-num" href="javascript:void(0)">1</a>
		<a class="page-num" href="javascript:void(0)">2</a>
		<a class="page-num" href="javascript:void(0)">3</a>
		<a class="page-num active" href="javascript:void(0)">4</a>
		<a class="page-num" href="javascript:void(0)">5</a>
		<span class="point"><i></i><i></i><i></i></span>
		<a class="page-num" href="javascript:void(0)">100</a>
		<a class="change-page" href="javascript:void(0)">下一页</a>
		<span class="text">到第</span>
		<input id="newsPageInput" type="text" value="" maxlength="3" />
		<span class="text">页</span>
		<input id="newsPageConfirmBtn" type="button" value="确定" />
	</div>
	<!-- pages box end -->

	<!-- online store leave phone start -->
	<div class="os-leave-phone-box">
		<div class="image"><img src="../dist/images/os-leave-phone-figure-f3b1739028.png" width="100%" /></div>
		<h6 class="tips">没有心仪的？我们帮您找！</h6>
		<div class="form">
			<input type="text" value="" placeholder="请输入您的手机号码" maxlength="11" />
			<input type="button" value="确定" />
		</div>
		<div class="os-hint-box os-success" style="display: none">
			<span class="text">提交成功！我们将尽快联系您！</span>
		</div>
		<div class="os-hint-box os-fail" style="display: none">
			<span class="text">请输入正确的手机号码</span>
		</div>
	</div>
	<!-- online store leave phone end -->

	<!-- footer end -->
	<div id="footer" class="footer">
		<div class="foot-main clear">
			<ul class="foot-nav">
				<li class="title">第一车网</li>
				<li><a href="#">关于第一车网</a></li>
				<li><a href="#">加入我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">问题反馈</a></li>
				<li><a href="#">客户端下载</a></li>
			</ul>
			<ul class="foot-nav">
				<li class="title">合作机构</li>
				<li><a href="#">中国汽车技术研究中心</a></li>
				<li><a href="#">中国汽车流通协会</a></li>
				<li><a href="#">贸促会汽车行业委员会</a></li>
				<li><a href="#">中国宽带产业基金（CBC）</a></li>
			</ul>
			<div class="foot-code clear">
				<div class="code">
					<img src="../images/iautos.jpg" width="120" height="120" alt="">
					<p>第一车网</p>
				</div>
				<div class="code">
					<img src="../images/haoche.jpg" width="120" height="120" alt="">
					<p>99好车</p>
				</div>
			</div>
			<div class="tel">
				<div class="tel-ico">
					咨询电话
				</div>
				<span class="tel-num">400-666-1612</span>
			</div>
		</div>
		<div class="foot-icp">
			<p>经营许可证号110108007756969   京ICP备12005388号-1 京公网安备11010102000493号</p>
			<p>Copyright © 2004 - 2016 www.iautos.cn All Rights Reserved</p>
			<div class="credential">
				<a href="https://ss.knet.cn/verifyseal.dll?sn=e13072411010041745dlkv000000&comefrom=trust" target="_blank""><img src="../images/credible-icon.png" width="100%" /></a>
				<a href="https://credit.szfw.org/CX20150522010052010177.html" target="_blank"><img src="../images/honest-icon.png" width="100%" /></a>
			</div>
		</div>
	</div>
	<!-- footer end -->

	<div id="alphaLayer" class="alpha" style="display: none"></div>
	<script type="text/javascript">
		$(document).ready(function () {
			var window_height = window.screen.availHeight;
			var document_height = document.body.offsetHeight;
			var body = document.getElementsByTagName('body')[0];
			var footer = document.getElementById('footer');
			var alpha_layer = document.getElementById('alphaLayer');

			// Grey float layer`s height reset event.
			alpha_layer.style.height = document_height + 'px';

			// CSS reset event.
			if (document_height < window_height) {
			    body.style.height = window_height + 'px';

			    if (footer) {
			          footer.style.position = 'absolute';
			          footer.style.bottom = 0 + 'px';
			          footer.style.width = '100%';
			    }
			}

			$('#headDownloadBtn, #headDownloadBox').hover(function () {
				var that = this;

				if ( that.id === 'headDownloadBtn' ) {
				      $(that).addClass('show');
				      $('#headDownloadBox').show();
				} else {
				      $('#headDownloadBtn').addClass('show');
				      $(that).show();
				}
			}, function () {
				var that = this;

				if ( that.id === 'headDownloadBtn' ) {
				      $(that).removeClass('show');
				      $('#headDownloadBox').hide();
				} else {
				      $('#headDownloadBtn').removeClass('show');
				      $(that).hide();
				}
			});

			$('#headLoginBtn, #headLoginBox').hover(function () {
				var that = this;

				if ( that.id === 'headLoginBtn' ) {
				      $(that).addClass('login');
				      $('#headLoginBox').show();
				} else {
				      $('#headLoginBtn').addClass('login');
				      $(that).show();
				}
			}, function () {
				var that = this;

				if ( that.id === 'headLoginBtn' ) {
				      $(that).removeClass('login');
				      $('#headLoginBox').hide();
				} else {
				      $('#headLoginBtn').removeClass('login');
				      $(that).hide();
				}
			});
		});
	</script>
</body>
</html>