<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>主站PC网店促销页</title>
	<base target="_blank" />
	<link rel="stylesheet" type="text/css" href="../dist/styles/iautos-pc.css" />
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/header-9598c51a13.js"></script>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r]||function() {
				(i[r].q=i[r].q||[]).push(arguments)
			},i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-15007416-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<!-- header start -->
	<div class="header">
		<div class="header-links-wrapper">
			<div class="header-links">
				<span id="headDownloadBtn" class="item app"><i class="download">下载APP</i></span>
				<span id="headLoginBtn" class="item box">登录</span>
				<a class="item box" href=""><span class="regist">商户注册</span></a>
				<a class="item publish" href="">免费发布二手车信息</a>
				<ul id="headDownloadBox" class="app-download-box clear" style="display: none">
					<li>
						<div class="image"><img src="" width="100%" /></div>
						<h6 class="title">第一车网</h6>
						<p class="desc">网尽天下二手车</p>
					</li>
					<li>
						<div class="image"><img src="" width="100%" /></div>
						<h6 class="title">99好车</h6>
						<p class="desc">诚信二手车商城</p>
					</li>
				</ul>
				<ul id="headLoginBox" class="login-box" style="display: none">
					<li><a href="">商户登录</a></li>
					<li><a href="">个人登录</a></li>
				</ul>
			</div>
		</div>
		<div class="header-os-main">
			<div class="left">
				<div class="image"><img src="" width="100%" /></div>
				<h1 class="title">宁波联盟二手车</h1>
				<div class="level" title="五星神店">
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
				</div>
			</div>
			<div class="right">
				<div class="phone"><span class="number">400-111-5555</span></div>
				<div class="address">
					<a class="map-link" href="">[查看地图]</a>
					<span class="info">宁波市江北区东明楼街道沧海路806号</span>
				</div>
			</div>
		</div>
		<div class="header-os-tags-wrapper">
			<ul class="header-os-tags clear">
				<li class="active"><a href="">首页</a></li>
				<li><a href="">买车</a></li>
				<li><a href="">促销活动</a></li>
				<li><a href="">关于我们</a></li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- bread crumbs start -->
	<div class="bread-crumbs">
		<a href="javascript:void(0)" class="item">第一车网</a>
		<i class="split">></i>
		<a href="javascript:void(0)" class="item">宁波二手车</a>
		<i class="split">></i>
		<a href="javascript:void(0)" class="item">宁波联盟二手车</a>
		<i class="split">></i>
		<span class="item">买车</span>
	</div>
	<!-- bread crumbs end -->

	<!-- online store home page start -->
	<div class="online-store os-promotion clear">
		<div class="os-left-main">
			<div class="os-sp-title clear"><h6 class="title">促销活动</h6></div>
			<ul class="news-list">
				<li>
					<h6 class="title"><a href="">宁波联盟二手车欢迎您！</a></h6>
					<div class="date"><span class="num">2016-09.23</span>发布</div>
					<p class="article">公司秉承“专心、专业、专注”的理念，并设有专业二手车评估鉴定中心、二手车销售中心、售后服务中心，为所有爱车人士提供诚心、优质、</p>
				</li>
				<li>
					<h6 class="title"><a href="">宁波联盟二手车欢迎您！</a></h6>
					<div class="date"><span class="num">2016-09.23</span>发布</div>
					<p class="article">公司秉承“专心、专业、专注”的理念，并设有专业二手车评估鉴定中心、二手车销售中心、售后服务中心，为所有爱车人士提供诚心、优质、</p>
				</li>
				<li>
					<h6 class="title"><a href="">宁波联盟二手车欢迎您！</a></h6>
					<div class="date"><span class="num">2016-09.23</span>发布</div>
					<p class="article">公司秉承“专心、专业、专注”的理念，并设有专业二手车评估鉴定中心、二手车销售中心、售后服务中心，为所有爱车人士提供诚心、优质、公司秉承“专心、专业、专注”的理念，并设有专业二手车评估鉴定中心、二手车销售中心、售后服务中心，为所有爱车人士提供诚心、优质</p>
				</li>
			</ul>
			<!-- pages box start -->
			<div class="pages-box">
				<a onclick="return false" class="change-page" href="javascript:void(0)">上一页</a>
				<a class="page-num" href="javascript:void(0)">1</a>
				<a class="page-num" href="javascript:void(0)">2</a>
				<a class="page-num" href="javascript:void(0)">3</a>
				<a class="page-num active" href="javascript:void(0)">4</a>
				<a class="page-num" href="javascript:void(0)">5</a>
				<span class="point"><i></i><i></i><i></i></span>
				<a class="page-num" href="javascript:void(0)">100</a>
				<a class="change-page" href="javascript:void(0)">下一页</a>
				<span class="text">到第</span>
				<input id="newsPageInput" type="text" value="" maxlength="3" />
				<span class="text">页</span>
				<input id="newsPageConfirmBtn" type="button" value="确定" />
			</div>
			<!-- pages box end -->
		</div>
		<div class="os-right-bar">
			<div class="presentation-info box">
				<div class="title clear">
					<span class="name">公司介绍</span>
					<a class="more" href="">更多</a>
				</div>
				<h6 class="shop-name">宁波联盟二手车</h6>
				<ul class="list">
					<li class="clear">
						<span class="name">公司类型：</span>
						<span class="text">经纪公司</span>
					</li>
					<li class="clear">
						<span class="name">公司地址：</span>
						<span class="text">宁波市江北区东明楼街道沧海路806号</span>
					</li>
					<li class="clear">
						<span class="name">店铺级别：</span>
						<span class="icon">
							<img src="../dist/images/level-bc5204246a.png" width="16" />
							<img src="../dist/images/level-bc5204246a.png" width="16" />
							<img src="../dist/images/level-bc5204246a.png" width="16" />
							<img src="../dist/images/level-bc5204246a.png" width="16" />
							<img src="../dist/images/level-bc5204246a.png" width="16" />
						</span>
					</li>
					<li class="clear">
						<span class="name">特色服务：</span>
						<span class="icon clear">
							<i class="service service-1"></i>
							<i class="service service-2"></i>
							<i class="service service-3"></i>
							<i class="service service-4"></i>
							<i class="service service-5"></i>
							<i class="service service-6"></i>
							<i class="service service-7"></i>
							<i class="service service-8"></i>
							<i class="service service-9"></i>
							<i class="service service-10"></i>
						</span>
					</li>
				</ul>
			</div>
			<div class="quantity-statistics box">
				<div class="title clear">
					<span class="name">车源数量</span>
				</div>
				<div class="sell-info">
					<span class="onsell">在售<i class="num">88台</i></span>
					<span class="sold">已售<i class="num">88台</i></span>
				</div>
			</div>
			<div class="recommend-cars">
				<h6 class="name"><span>车源推荐</span></h6>
				<ul class="os-hp-car-list os-car-lists">
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/car-3d18883c36.png" width="100%" /></div>
							<h6 class="title">大众POLO劲情</h6>
							<div class="info clear">
								<strong class="price"><i class="symbol">￥</i>99.99<i class="unit">万</i></strong>
								<span class="mile"><i>3.9</i>万公里</span>
								<span class="date"><i>2010</i>年<i>2010</i>月</span>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<div class="image"><img src="../dist/images/car-3d18883c36.png" width="100%" /></div>
							<h6 class="title">大众POLO劲情</h6>
							<div class="info clear">
								<strong class="price"><i class="symbol">￥</i>99.99<i class="unit">万</i></strong>
								<span class="mile"><i>3.9</i>万公里</span>
								<span class="date"><i>2010</i>年<i>2010</i>月</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- online store home page end -->
	
	<!-- footer end -->
	<div id="footer" class="footer">
		<div class="foot-main clear">
			<ul class="foot-nav">
				<li class="title">第一车网</li>
				<li><a href="#">关于第一车网</a></li>
				<li><a href="#">加入我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">问题反馈</a></li>
				<li><a href="#">客户端下载</a></li>
			</ul>
			<ul class="foot-nav">
				<li class="title">合作机构</li>
				<li><a href="#">中国汽车技术研究中心</a></li>
				<li><a href="#">中国汽车流通协会</a></li>
				<li><a href="#">贸促会汽车行业委员会</a></li>
				<li><a href="#">中国宽带产业基金（CBC）</a></li>
			</ul>
			<div class="foot-code clear">
				<div class="code">
					<img src="../images/iautos.jpg" width="120" height="120" alt="">
					<p>第一车网</p>
				</div>
				<div class="code">
					<img src="../images/haoche.jpg" width="120" height="120" alt="">
					<p>99好车</p>
				</div>
			</div>
			<div class="tel">
				<div class="tel-ico">
					咨询电话
				</div>
				<span class="tel-num">400-666-1612</span>
			</div>
		</div>
		<div class="foot-icp">
			<p>经营许可证号110108007756969   京ICP备12005388号-1 京公网安备11010102000493号</p>
			<p>Copyright © 2004 - 2016 www.iautos.cn All Rights Reserved</p>
			<div class="credential">
				<a href="https://ss.knet.cn/verifyseal.dll?sn=e13072411010041745dlkv000000&comefrom=trust" target="_blank""><img src="../images/credible-icon.png" width="100%" /></a>
				<a href="https://credit.szfw.org/CX20150522010052010177.html" target="_blank"><img src="../images/honest-icon.png" width="100%" /></a>
			</div>
		</div>
	</div>
	<!-- footer end -->

	<div id="alphaLayer" class="alpha" style="display: none"></div>
	<script type="text/javascript">
		$(document).ready(function () {
			var window_height = window.screen.availHeight;
			var document_height = document.body.offsetHeight;
			var body = document.getElementsByTagName('body')[0];
			var footer = document.getElementById('footer');
			var alpha_layer = document.getElementById('alphaLayer');

			// Grey float layer`s height reset event.
			alpha_layer.style.height = document_height + 'px';

			// CSS reset event.
			if (document_height < window_height) {
			    body.style.height = window_height + 'px';

			    if (footer) {
			          footer.style.position = 'absolute';
			          footer.style.bottom = 0 + 'px';
			          footer.style.width = '100%';
			    }
			}

			$('#headDownloadBtn, #headDownloadBox').hover(function () {
				var that = this;

				if ( that.id === 'headDownloadBtn' ) {
				      $(that).addClass('show');
				      $('#headDownloadBox').show();
				} else {
				      $('#headDownloadBtn').addClass('show');
				      $(that).show();
				}
			}, function () {
				var that = this;

				if ( that.id === 'headDownloadBtn' ) {
				      $(that).removeClass('show');
				      $('#headDownloadBox').hide();
				} else {
				      $('#headDownloadBtn').removeClass('show');
				      $(that).hide();
				}
			});

			$('#headLoginBtn, #headLoginBox').hover(function () {
				var that = this;

				if ( that.id === 'headLoginBtn' ) {
				      $(that).addClass('login');
				      $('#headLoginBox').show();
				} else {
				      $('#headLoginBtn').addClass('login');
				      $(that).show();
				}
			}, function () {
				var that = this;

				if ( that.id === 'headLoginBtn' ) {
				      $(that).removeClass('login');
				      $('#headLoginBox').hide();
				} else {
				      $('#headLoginBtn').removeClass('login');
				      $(that).hide();
				}
			});
		});
	</script>
</body>
</html>