<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>主站PC网店关于我们页</title>
	<base target="_blank" />
	<link rel="stylesheet" type="text/css" href="../dist/styles/iautos-pc.css" />
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../js/header-9598c51a13.js"></script>
	<script>
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r]||function() {
				(i[r].q=i[r].q||[]).push(arguments)
			},i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-15007416-1', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body>
	<!-- header start -->
	<div class="header">
		<div class="header-links-wrapper">
			<div class="header-links">
				<span id="headDownloadBtn" class="item app"><i class="download">下载APP</i></span>
				<span id="headLoginBtn" class="item box">登录</span>
				<a class="item box" href=""><span class="regist">商户注册</span></a>
				<a class="item publish" href="">免费发布二手车信息</a>
				<ul id="headDownloadBox" class="app-download-box clear" style="display: none">
					<li>
						<div class="image"><img src="" width="100%" /></div>
						<h6 class="title">第一车网</h6>
						<p class="desc">网尽天下二手车</p>
					</li>
					<li>
						<div class="image"><img src="" width="100%" /></div>
						<h6 class="title">99好车</h6>
						<p class="desc">诚信二手车商城</p>
					</li>
				</ul>
				<ul id="headLoginBox" class="login-box" style="display: none">
					<li><a href="">商户登录</a></li>
					<li><a href="">个人登录</a></li>
				</ul>
			</div>
		</div>
		<div class="header-os-main">
			<div class="left">
				<div class="image"><img src="" width="100%" /></div>
				<h1 class="title">宁波联盟二手车</h1>
				<div class="level" title="五星神店">
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
					<img src="../dist/images/level-bc5204246a.png" width="16" />
				</div>
			</div>
			<div class="right">
				<div class="phone"><span class="number">400-111-5555</span></div>
				<div class="address">
					<a class="map-link" href="">[查看地图]</a>
					<span class="info">宁波市江北区东明楼街道沧海路806号</span>
				</div>
			</div>
		</div>
		<div class="header-os-tags-wrapper">
			<ul class="header-os-tags clear">
				<li class="active"><a href="">首页</a></li>
				<li><a href="">买车</a></li>
				<li class="active"><a href="">促销活动</a></li>
				<li><a href="">关于我们</a></li>
			</ul>
		</div>
	</div>
	<!-- header end -->

	<!-- bread crumbs start -->
	<div class="bread-crumbs">
		<a href="javascript:void(0)" class="item">第一车网</a>
		<i class="split">></i>
		<a href="javascript:void(0)" class="item">宁波二手车</a>
		<i class="split">></i>
		<a href="javascript:void(0)" class="item">宁波联盟二手车</a>
		<i class="split">></i>
		<span class="item">买车</span>
	</div>
	<!-- bread crumbs end -->

	<!-- online store home page start -->
	<div class="online-store os-about-us clear">
		<div class="info-box">
			<h6 class="title"><span>公司介绍</span></h6>
			<div class="main clear">
				<div class="swiper-container">
					<ul class="swiper-wrapper">
						<li class="swiper-slide"><a href="javascript:void(0)"><img src="" width="100%" /></a></li>
						<li class="swiper-slide"><a href="javascript:void(0)"><img src="" width="100%" /></a></li>
						<li class="swiper-slide"><a href="javascript:void(0)"><img src="" width="100%" /></a></li>
					</ul>
					<i class="pagination-prev"></i><i class="pagination-next"></i>
				</div>
				<div class="detail-info">
					<h6 class="shop-name">宁波联盟二手车</h6>
					<ul class="list">
						<li class="clear">
							<span class="name">公司类型：</span>
							<span class="text">经纪公司</span>
						</li>
						<li class="clear">
							<span class="name">公司地址：</span>
							<span class="text">宁波市江北区东明楼街道沧海路806号</span>
						</li>
						<li class="clear">
							<span class="name">店铺级别：</span>
							<span class="icon">
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
							</span>
						</li>
						<li class="clear">
							<span class="name">特色服务：</span>
							<span class="icon clear">
								<span class="service service-1">可以进行车况检测</span>
								<span class="service service-2">免费代办过户转籍</span>
								<span class="service service-3">免费代办验车上牌</span>
								<span class="service service-4">提供第三方延保服务</span>
								<span class="service service-5">提供店内延保服务</span>
								<span class="service service-6">提供24小时免费救援</span>
								<span class="service service-7">7天内无理由退换</span>
								<span class="service service-8">可以贷款购车，支持按揭</span>
								<span class="service service-9">可以以租代售</span>
								<span class="service service-10">可以进行二手车置换</span>
							</span>
						</li>
					</ul>
					<div class="sell-info">
						<span class="onsell">在售<i class="num">88台</i></span>
						<span class="sold">已售<i class="num">88台</i></span>
					</div>
				</div>
			</div>
		</div>
		<div class="clear">
			<div class="statement">
				<p class="section">北京易昌达旧机动车经纪有限公司成立于2002年，始终坚持以市场需求为导向，不断开拓和创造潜在的汽车消费市场。公司凭借着十多年的雄厚的资金实力和优秀的销售业绩经验至今，主营品牌劳斯莱斯、宾利、保时捷、奔驰、宝马、捷豹、路虎、奥迪、丰田等中高端品牌的销售。购车零风险、接受第三方检测、二手车贷款享受超低利息；</p>
				<p class="section">我们承诺真实公里数，拒绝收售事故车、泡水车、火烧车。</p>
				<p class="section">地址：北京市丰台区南四环西路123号旧机动车交易市场东厅K08/A区110-111</p>
			</div>
			<div class="map-location"></div>
		</div>
	</div>
	<!-- online store home page end -->
	
	<!-- footer end -->
	<div id="footer" class="footer">
		<div class="foot-main clear">
			<ul class="foot-nav">
				<li class="title">第一车网</li>
				<li><a href="#">关于第一车网</a></li>
				<li><a href="#">加入我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">问题反馈</a></li>
				<li><a href="#">客户端下载</a></li>
			</ul>
			<ul class="foot-nav">
				<li class="title">合作机构</li>
				<li><a href="#">中国汽车技术研究中心</a></li>
				<li><a href="#">中国汽车流通协会</a></li>
				<li><a href="#">贸促会汽车行业委员会</a></li>
				<li><a href="#">中国宽带产业基金（CBC）</a></li>
			</ul>
			<div class="foot-code clear">
				<div class="code">
					<img src="../images/iautos.jpg" width="120" height="120" alt="">
					<p>第一车网</p>
				</div>
				<div class="code">
					<img src="../images/haoche.jpg" width="120" height="120" alt="">
					<p>99好车</p>
				</div>
			</div>
			<div class="tel">
				<div class="tel-ico">
					咨询电话
				</div>
				<span class="tel-num">400-666-1612</span>
			</div>
		</div>
		<div class="foot-icp">
			<p>经营许可证号110108007756969   京ICP备12005388号-1 京公网安备11010102000493号</p>
			<p>Copyright © 2004 - 2016 www.iautos.cn All Rights Reserved</p>
			<div class="credential">
				<a href="https://ss.knet.cn/verifyseal.dll?sn=e13072411010041745dlkv000000&comefrom=trust" target="_blank""><img src="../images/credible-icon.png" width="100%" /></a>
				<a href="https://credit.szfw.org/CX20150522010052010177.html" target="_blank"><img src="../images/honest-icon.png" width="100%" /></a>
			</div>
		</div>
	</div>
	<!-- footer end -->

	<div id="alphaLayer" class="alpha" style="display: none"></div>
	<script type="text/javascript">
		$(document).ready(function () {
			var window_height = window.screen.availHeight;
			var document_height = document.body.offsetHeight;
			var body = document.getElementsByTagName('body')[0];
			var footer = document.getElementById('footer');
			var alpha_layer = document.getElementById('alphaLayer');

			// Grey float layer`s height reset event.
			alpha_layer.style.height = document_height + 'px';

			// CSS reset event.
			if (document_height < window_height) {
			    body.style.height = window_height + 'px';

			    if (footer) {
			          footer.style.position = 'absolute';
			          footer.style.bottom = 0 + 'px';
			          footer.style.width = '100%';
			    }
			}

			$('#headDownloadBtn, #headDownloadBox').hover(function () {
				var that = this;

				if ( that.id === 'headDownloadBtn' ) {
				      $(that).addClass('show');
				      $('#headDownloadBox').show();
				} else {
				      $('#headDownloadBtn').addClass('show');
				      $(that).show();
				}
			}, function () {
				var that = this;

				if ( that.id === 'headDownloadBtn' ) {
				      $(that).removeClass('show');
				      $('#headDownloadBox').hide();
				} else {
				      $('#headDownloadBtn').removeClass('show');
				      $(that).hide();
				}
			});

			$('#headLoginBtn, #headLoginBox').hover(function () {
				var that = this;

				if ( that.id === 'headLoginBtn' ) {
				      $(that).addClass('login');
				      $('#headLoginBox').show();
				} else {
				      $('#headLoginBtn').addClass('login');
				      $(that).show();
				}
			}, function () {
				var that = this;

				if ( that.id === 'headLoginBtn' ) {
				      $(that).removeClass('login');
				      $('#headLoginBox').hide();
				} else {
				      $('#headLoginBtn').removeClass('login');
				      $(that).hide();
				}
			});
		});
	</script>
</body>
</html>