<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>主站PC交易市场城市页面</title>
		<link rel="stylesheet" type="text/css" href="../dist/styles/iautos-pc.css" />
		<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../js/header-9598c51a13.js"></script>
		<script>
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r]||function() {
					(i[r].q=i[r].q||[]).push(arguments)
				},i[r].l = 1 * new Date();
				a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-15007416-1', 'auto');
			ga('send', 'pageview');
		</script>
		<!--[if lte IE 6]>
			<style type="text/css">
				body{behavior:url("./js/csshover.htc");}
			</style>
		<![endif]-->
		<!--[if lt IE 9]>
		    <style type="text/css">
		    	.left-select {
		        	background:transparent;
		        	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
		        	zoom: 1;
		    	}
		    </style>
		<![endif]-->
	</head>
	<body>
		<!-- header -->
		<div id="header" class="header">
			<div class="header-top-wrap">
				<div class="header-top clear">
					<div class="head-main">
						<span class="glb-app">下载APP</span>
						<a id="headLoginBtn" class="login" href=""><span class="t">登录</span></a>
						<a class="regist regist-dealer" href=""><span class="t">商户注册</span></a>
						<a class="release" href=""><span class="t">免费发布二手车信息</span></a>
						<div class="app-popup" style="display: none;">
		                    <span class="app-hover">下载APP</span>
		                    <div class="app-main">
		                        <div class="code-box mar30">
		                            <img src="../images/iautos.jpg" width="148" height="148" alt="">
		                            <p class="code-til">第一车网</p>
		                            <p>网尽天下二手车</p>
		                        </div>
		                        <div class="code-box">
		                            <img src="../images/haoche.jpg" width="148" height="148" alt="">
		                            <p class="code-til">99好车</p>
		                            <p>诚信二手车商城</p>
		                        </div>
		                    </div>
		                </div>
		                <ul id="headLoginBox" class="login-box" style="display: none;">
		                	<li><a href="">商户登录</a></li>
		                	<li><a href="">个人登录</a></li>
		                </ul>
					</div>
				</div>
			</div>
			<div class="header-main-wrap">
				<div class="header-main">
					<div class="header-search clear">
						<div class="head-logo"><a href="http://www.iautos.cn/"><img src="../images/logo.jpg" widht="150" height="40" alt=""></a></div>
						<div class="head-area">
							<div class="area-select"><span class="area-name">北京</span><i class="glb-area"></i></div>
							<div class="area-option" id="areaOption" style="display: none;">
								<span class="joint"></span>
								<span class="glb-close" id="areaOptionClose"></span>
								<div class="province-letter">
									<h5 class="t">省份首字母</h5>
									<ul class="letters">
										<li class="active"><span class="l">A</span></li>
										<li><span class="l">B</span></li>
										<li><span class="l">C</span></li>
										<li><span class="l">f</span></li>
										<li><span class="l">G</span></li>
										<li><span class="l">H</span></li>
										<li><span class="l">A</span></li>
										<li><span class="l">A</span></li>
										<li><span class="l">A</span></li>
										<li><span class="l">A</span></li>
									</ul>
								</div>
								<div class="citys">
									<div class="hot-city">
										<h5 class="t">热门城市</h5>
										<ul class="city">
											<li><a class="c" href="">全国</a></li>
											<li><a class="c" href="">内蒙古</span></a></li>
											<li><a class="c" href="">全国</span></a></li>
											<li><a class="c" href="">全国</a></li>
											<li><a class="c" href="">内蒙古</span></a></li>
											<li><a class="c" href="">全国</span></a></li>
											<li><a class="c" href="">全国</a></li>
											<li><a class="c" href="">内蒙古</span></a></li>
											<li><a class="c" href="">全国</span></a></li>
										</ul>
									</div>
									<div class="all-city">
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">安徽</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">黑龙江</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">乌鲁木齐</a></li>
												<li><a class="c" href="">齐齐哈尔</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">黑龙江</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">乌鲁木齐</a></li>
												<li><a class="c" href="">齐齐哈尔</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">黑龙江</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">乌鲁木齐</a></li>
												<li><a class="c" href="">齐齐哈尔</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">黑龙江</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">乌鲁木齐</a></li>
												<li><a class="c" href="">齐齐哈尔</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">黑龙江</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">乌鲁木齐</a></li>
												<li><a class="c" href="">齐齐哈尔</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
										<div class="all-city-list">
											<div class="t"><span class="u">A</span><span class="d">黑龙江</span></div>
											<ul class="city">
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">乌鲁木齐</a></li>
												<li><a class="c" href="">齐齐哈尔</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
												<li><a class="c" href="">全国</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="head-search">
							<form>
								<div class="suchen">
									<input class="search" id="searchInput" type="text" placeholder="搜索你喜欢的车型，如宝马" />
									<input class="submit" id="searchBtn" type="submit" value="" />
								</div>
							</form>
							<ul class="search-popup" id="searchTip" style="display: none;">
								<li><span class="r">宝马</span></li>
								<li><span class="r">宝马</span></li>
								<li><span class="r">宝马</span></li>
								<li><span class="r">宝马</span></li>
								<li><span class="r">宝马</span></li>
								<li><span class="r">宝马</span></li>
							</ul>
						</div>
					</div>
					<div class="header-nav">
						<ul class="head-nav clear">
							<li class="active"><a href=""><span class="n">首页</span></a></li>
							<li><a href=""><span class="n">买车</span></a></li>
							<li><a href=""><span class="n">卖车</span></a></li>
							<li><a href=""><span class="n">评估</span></a></li>
							<li><a href=""><span class="n">问答</span></a></li>
							<li><a href=""><span class="n">新闻</span></a></li>
							<li><a href=""><span class="n">车型</span></a></li>
							<li class="active"><a href=""><span class="n">99好车</span><i class="glb-jiu"></i></a></li>
						</ul>
						<div class="head-tel"><span class="glb-tel">400-666-1612</span></div>
					</div>
				</div>
			</div>
		</div>
		<!-- header end -->

		<!-- bread crumbs start -->
		<div class="bread-crumbs">
			<a class="item" href="http://www.iautos.cn/">第一车网</a>
			<i class="split">></i>
			<span class="item">全国二手车交易市场</span>
		</div>
		<!-- bread crumbs start -->

		<div class="trading-market">
			<div class="select-box">
				<div class="provinces clear">
					<h6 class="title">省份：</h6>
					<ul class="lists clear">
						<li><a href="" class="province">全国</a></li>
						<li><i class="letter">A</i><a href="" class="province">安徽</a></li>
						<li><i class="letter">B</i><a href="" class="province">北京</a></li>
						<li><i class="letter">C</i><a href="" class="province">重庆</a></li>
						<li><i class="letter">F</i><a href="" class="province">福建</a></li>
						<li><i class="letter">G</i><a href="" class="province">甘肃</a><a href="" class="province">广东</a><a href="" class="province">广西</a><a href="" class="province">贵州</a></li>
						<li><i class="letter">H</i><a href="" class="province">海南</a><a href="" class="province">河北</a><a href="" class="province">黑龙江</a><a href="" class="province">河南</a><a href="" class="province">湖北</a><a href="" class="province">湖南</a></li>
						<li><i class="letter">J</i><a href="" class="province">江苏</a><a href="" class="province">江西</a><a href="" class="province">吉林</a></li>
						<li><i class="letter">L</i><a href="" class="province">辽宁</a></li>
						<li><i class="letter">N</i><a href="" class="province">内蒙古</a><a href="" class="province">宁夏</a></li>
						<li><i class="letter">Q</i><a href="" class="province">青海</a></li>
						<li><i class="letter">S</i><a href="" class="province">陕西</a><a href="" class="province">山东</a><a href="" class="province">上海</a><a href="" class="province">山西</a><a href="" class="province">四川</a></li>
						<li><i class="letter">T</i><a href="" class="province">天津</a></li>
						<li><i class="letter">X</i><a href="" class="province">新疆</a><a href="" class="province">西藏</a></li>
						<li><i class="letter">Y</i><a href="" class="province">云南</a></li>
						<li><i class="letter">Z</i><a href="" class="province">浙江</a></li>
					</ul>
				</div>
				<div class="cities clear">
					<h6 class="title">城市：</h6>
					<ul class="lists clear">
						<li><a href="" class="city">全部</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
						<li><a href="" class="city">安庆</a></li>
						<li><a href="" class="city">蚌埠</a></li>
					</ul>
				</div>
				<div class="hot-markets clear">
					<h6 class="title">热门市场：</h6>
					<ul class="lists clear">
						<li><a href="" class="hot-market">北京花乡二手车市场</a></li>
						<li><a href="" class="hot-market">北京(亚运村)二手车交易市场 </a></li>
						<li><a href="" class="hot-market">欧德宝二手车交易市场</a></li>
						<li><a href="" class="hot-market">北京旧车交易市场</a></li>
						<li><a href="" class="hot-market">北京花乡二手车市场</a></li>
						<li><a href="" class="hot-market">北京(亚运村)二手车交易市场 </a></li>
						<li><a href="" class="hot-market">欧德宝二手车交易市场</a></li>
						<li><a href="" class="hot-market">北京旧车交易市场</a></li>
					</ul>
				</div>
			</div>
			<div class="city-box">
				<h4 class="market-title"><a href="">北京花乡二手车市场</a></h4>
				<div class="market-intro clear">
					<a class="image" href=""><img src="" name="tm-shopLogo" width="100%" /></a>
					<div class="info">
						<h6 class="title"><span>市场地址与联系方式</span></h6>
						<p class="address">北京市丰台区南四环西路新发地汽车交易市场 G座20号</p>
						<div class="contact"><span>010-88458933</span><span>010-88458933</span></div>
					</div>
					<div class="intro">
						<h6 class="title"><span>市场介绍</span></h6>
						<p>北京市旧机动车交易市场，位于北京市南四环花乡桥西北侧。进入花乡大门，东侧的大型展厅包括博瑞进口汽车公司（主营奔驰、大众、宝马、凌志、道奇等进口新车）和北京旧机动车交易市场的指定拍卖公司--中古拍卖经纪公司；西侧大型展厅包括国产新车西侧大型展厅包括国产新车</p>
						<a class="link" href="" target="_blank"><i class="ellipsis">...</i><span class="text">[ 查看完整 ]</span></a>
					</div>
				</div>
				<div class="recommend-merchant">
					<div class="title-box"><h5 class="name"><span>市场内推荐商家</span></h5></div>
					<ul class="lists clear">
						<li>
							<h6 class="title">北京合宏进起亚4S店</h6>
							<div class="level">
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-grey-9347af18ea.png" width="16" />
								<img src="../dist/images/level-grey-9347af18ea.png" width="16" />
							</div>
							<div class="sale-detail"><span><i>240</i>在售</span><i class="split">/</i><span><i>568</i>已售</span></div>
							<div class="enter"><a href="">进入店铺</a></div>
						</li>
						<li>
							<h6 class="title">北京合宏进起亚4S店</h6>
							<div class="level">
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
							</div>
							<div class="sale-detail"><span><i>240</i>在售</span><i class="split">/</i><span><i>568</i>已售</span></div>
							<div class="enter"><a href="">进入店铺</a></div>
						</li>
						<li>
							<h6 class="title">北京合宏进起亚4S店</h6>
							<div class="level">
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
							</div>
							<div class="sale-detail"><span><i>240</i>在售</span><i class="split">/</i><span><i>568</i>已售</span></div>
							<div class="enter"><a href="">进入店铺</a></div>
						</li>
						<li>
							<h6 class="title">北京合宏进起亚4S店</h6>
							<div class="level">
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
								<img src="../dist/images/level-bc5204246a.png" width="16" />
							</div>
							<div class="sale-detail"><span><i>240</i>在售</span><i class="split">/</i><span><i>568</i>已售</span></div>
							<div class="enter"><a href="">进入店铺</a></div>
						</li>
					</ul>
				</div>
				<div class="recommend-cars">
					<div class="title-box">
						<h5 class="name"><span>市场内推荐车源</span></h5>
						<a href="" class="all">查看全部</a>
					</div>
					<ul class="lists clear">
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="image"><img src="" name="carPicSmall" width="100%" /></div>
								<h6 class="title">奥迪A4L 2.0T 手自一体 豪华型 2011款 (国Ⅳ)</h6>
								<div class="info clear">
									<b class="price">￥<strong>18.98</strong>万</b>
									<span class="mile"><i>2.88</i>万公里</span>
									<span class="year">2012年7月</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="pages-box">
				<a onclick="return false" class="change-page" href="javascript:void(0)">上一页</a>
				<a class="page-num" href="javascript:void(0)">1</a>
				<a class="page-num" href="javascript:void(0)">2</a>
				<a class="page-num" href="javascript:void(0)">3</a>
				<a class="page-num active" href="javascript:void(0)">4</a>
				<a class="page-num" href="javascript:void(0)">5</a>
				<span class="point"><i></i><i></i><i></i></span>
				<a class="page-num" href="javascript:void(0)">100</a>
				<a class="change-page" href="javascript:void(0)">下一页</a>
				<span class="text">到第</span>
				<input id="newsPageInput" type="text" value="" maxlength="3" />
				<span class="text">页</span>
				<input id="newsPageConfirmBtn" type="button" value="确定" />
			</div>
		</div>

		<!-- footer -->
		<div id="footer" class="footer">
			<div class="foot-main clear">
				<ul class="foot-nav">
					<li class="title">第一车网</li>
					<li><a href="#">关于第一车网</a></li>
					<li><a href="#">加入我们</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">问题反馈</a></li>
					<li><a href="#">客户端下载</a></li>
				</ul>
				<ul class="foot-nav">
					<li class="title">合作机构</li>
					<li><a href="#">中国汽车技术研究中心</a></li>
					<li><a href="#">中国汽车流通协会</a></li>
					<li><a href="#">贸促会汽车行业委员会</a></li>
					<li><a href="#">中国宽带产业基金（CBC）</a></li>
				</ul>
				<div class="foot-code clear">
					<div class="code">
						<img src="../images/iautos.jpg" width="120" height="120" alt="">
						<p>第一车网</p>
					</div>
					<div class="code">
						<img src="../images/haoche.jpg" width="120" height="120" alt="">
						<p>99好车</p>
					</div>
				</div>
				<div class="tel">
					<div class="tel-ico">
						咨询电话
					</div>
					<span class="tel-num">400-666-1612</span>
				</div>
			</div>
			<div class="foot-icp">
				<p>经营许可证号110108007756969   京ICP备12005388号-1 京公网安备11010102000493号</p>
				<p>Copyright © 2004 - 2016 www.iautos.cn All Rights Reserved</p>
				<div class="credential">
					<a href="https://ss.knet.cn/verifyseal.dll?sn=e13072411010041745dlkv000000&comefrom=trust" target="_blank""><img src="../images/credible-icon.png" width="100%" /></a>
					<a href="https://credit.szfw.org/CX20150522010052010177.html" target="_blank"><img src="../images/honest-icon.png" width="100%" /></a>
				</div>
			</div>
		</div>
		<!-- footer end -->

		<script type="text/javascript">
			var window_height = window.screen.availHeight;
            var document_height = document.body.offsetHeight;
            var body = document.getElementsByTagName('body')[0];
            var footer = document.getElementById('footer');

            if ( document_height < window_height ) {
                body.style.height = window_height + 'px';

                if ( footer ) {
                    footer.style.position = 'absolute';
                    footer.style.bottom = 0 + 'px';
                    footer.style.width = '100%';
                }
            }
            
            $('img').on('error', function () {
            	var name = this.name;
            	var url = 'http://static.iautos.cn/www/pc/dist/images/';

            	if (name === 'tm-shopLogo') {
            		this.src = url + 'tm-default-60241e409b.jpg';
            	} else if (name === 'carPicSmall') {
            		this.src = url + 'car-default-94fc888e9a.jpg';
            	}
            });
		</script>
	</body>
</html>